{{define "song"}}
<div class="song p:sm r:sm">
  <a href="/song/{{$.Uri}}" class="song-name"><h2>{{.Emoji}} <span class="{{if .NameIsPlaceholder}}name-is-placeholder{{end}}{{if .IsReleased}}song-released{{end}}">{{.Name}}</span></h2></a>
  <select class="song-revision" {{if le (len .Revisions) 1}}disabled{{end}}>
    {{range $i, $rev := .Revisions}}
    <option value="/audio/{{$.Name}}/{{$rev.Path}}">{{$rev.Modified.Format "2006-01-02"}}</option>
    {{end}}
  </select>
	<button class="btn-play-song r:xs">
    <div class=btn-inner>listen</div>
    <input type=checkbox hidden></input>
  </button>
</div>
{{end}}
